
header{
    background-color: rgb(223, 210, 210);
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    color: black;
    font-family: fantasy ;
    font-size: 3em;
    display: flex;
    justify-content: center;
    margin: 3mm;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
}

nav ul li{
    margin: 50px;
    background-color: rgb(223, 210, 210);
    justify-content: flex-end;
    margin-left: 20px;
    font-size: 1.01em;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    padding: 1em;
}

nav ul li:hover{
    background-color: black;
    transition-duration: 1s;
}
nav ul li a:hover{
    color: rgb(223, 210, 210);
}

p{
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    color: black;
    font-family: fantasy ;
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-top: 50px
}    

a {
    color: black;
    text-decoration-line: underline;
    }


.cover{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: baseline;

}
.box{
    margin: 30px;
    height: 400px;
    width: 350px;
}

.cover2{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.box2{
    margin: 20px;
    width: 20em;
}    
main img{
    width: 300px;
    height: 270px;
}

footer{ 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 210, 210);
    border-style: solid;
}

/*pagina2-3-4*/

 
.h3-links{
    display: flex;
    margin-top: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-left: 2cm;
}
.h3-rechts{
    display: flex;
    justify-content: right;
    margin-top: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-right: 2cm;
}

.box3{
     align-items: center;
     display: flex;
     background-color: rgb(223, 210, 210);
     border-style: solid;
     margin: 3em;
     padding: 3em;
}

div.box3 img{
    width: 750px;
    height: 400px;
    margin: 5px;
}

div.box3 video{
    width: 750px;
    height: 400px;
    margin: 5px;
}




